@model ProductVM;
<div class="card shadow border-0 my-4">
  <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-white py-2">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
      </div>
    </div>
  </div>
  <div class="card-body p-4">
    <form class="row" method="post" enctype="multipart/form-data">
      <input hidden asp-for="Product.Id" />
      <input hidden asp-for="Product.ImageUrl" />
      <div class="row">
        <div class="col-10">
          <div class="p-3">
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.Title" />
              <label class="ms-2" asp-for="Product.Title"></label>
              <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="py-2 col-12">
              <label class="ms-2 text-muted" asp-for="Product.Description"></label>
              <textarea class="form-control border-0 shadow" asp-for="Product.Description"></textarea>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.ISBN" />
              <label class="ms-2" asp-for="Product.ISBN"></label>
              <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.Author" />
              <label class="ms-2" asp-for="Product.Author"></label>
              <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.ListPrice" />
              <label class="ms-2" asp-for="Product.ListPrice"></label>
              <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.Price" />
              <label class="ms-2" asp-for="Product.Price"></label>
              <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.Price50" />
              <label class="ms-2" asp-for="Product.Price50"></label>
              <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input class="form-control border-0 shadow" asp-for="Product.Price100" />
              <label class="ms-2" asp-for="Product.Price100"></label>
              <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <select class="form-select border-0 shadow" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                <option disabled selected>--Select Category--</option>
              </select>
              <label class="ms-2" asp-for="Product.CategoryId"></label>
              <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
              <input type="file" name="file" class="form-control border-0 shadow" />
              <label class="ms-2" asp-for="Product.ImageUrl"></label>
            </div>
            <div class="row mt-3">
              <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">@(Model.Product.Id != 0 ? "Update" :
                  "Create")</button>
              </div>
              <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">Back
                  to
                  List</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <img src="@Model.Product.ImageUrl" width="100%" style="border-radius: 5px; border 1px solid #bbb9b9">
        </div>
      </div>
    </form>
  </div>
</div>

@section Scripts {
  @{
    <partial name="_ValidationScriptsPartial" />
  }
}